@charset "UTF-8";
.mui-divider {
  display: inline-block;
  width: 100%;
  background: #aaa;
}

.mui-select__menu {
  z-index: 10;
}

#mui-overlay {
  z-index: 2;
  padding-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
#mui-overlay .mui-overlay-model {
  position: absolute;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  opacity: 0;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* IE 9 */
  -moz-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* Firefox */
  -webkit-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  /* Safari 嚙瞎 Chrome */
  -o-box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -moz-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -webkit-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -o-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
  -ms-animation: model-opacity 0.3s ease-in-out 0s 1 forwards;
}
#mui-overlay .mui-overlay-model .mui-panel {
  margin: 0;
}
#mui-overlay .mui-overlay-model .mui-overlay-title {
  position: relative;
  padding: .5em;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 3px;
  background-color: #FF2257;
  color: #fff;
}
#mui-overlay .mui-overlay-model .mui-overlay-title .mui-overlay-title-text {
  margin-right: 1em;
}
#mui-overlay .mui-overlay-model .mui-overlay-title .mui-overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
  cursor: pointer;
}
#mui-overlay .mui-overlay-model .mui-overlay-message {
  margin-bottom: .5em;
}

.mui-textfield--float-label > label {
  opacity: 1;
}

.mui-textfield--float-label > input:focus ~ label,
.mui-textfield--float-label > textarea:focus ~ label {
  opacity: .8;
}

.mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label {
  opacity: .8;
}

.mui-panel {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mui-panel .mui-error-message {
  color: #F44336;
}

.mui-tabs__bar {
  text-align: center;
}

.mui-tabs__bar > li {
  position: relative;
}
.mui-tabs__bar > li > a {
  color: #9a9796;
}
.mui-tabs__bar > li:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  display: block;
  width: 100%;
  height: 3px;
  background: #FF1B47;
  opacity: 0;
  content: '';
  transform: scaleX(0.2);
  -ms-transform: scaleX(0.2);
  /* IE 9 */
  -moz-transform: scaleX(0.2);
  /* Firefox */
  -webkit-transform: scaleX(0.2);
  /* Safari 嚙瞎 Chrome */
  -o-transform: scaleX(0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.mui-tabs__bar > li.mui--is-active {
  border-bottom: 0;
}
.mui-tabs__bar > li.mui--is-active:after {
  opacity: 1;
  transform: scaleX(1);
  -ms-transform: scaleX(1);
  /* IE 9 */
  -moz-transform: scaleX(1);
  /* Firefox */
  -webkit-transform: scaleX(1);
  /* Safari 嚙瞎 Chrome */
  -o-transform: scaleX(1);
}
.mui-tabs__bar > li.mui--is-active > a {
  color: #FF1B47;
}

.mui-btn--primary {
  color: #fff;
  background-color: #FF2257;
}

.mui-btn--primary:hover,
.mui-btn--primary:focus,
.mui-btn--primary:active {
  color: #fff;
  background-color: #FF2257;
}

.mui-btn--primary[disabled]:hover,
.mui-btn--primary[disabled]:focus,
.mui-btn--primary[disabled]:active {
  color: #fff;
  background-color: #FF2257;
}

.mui-btn--primary.mui-btn--flat {
  color: #FF2257;
  background-color: transparent;
}

.mui-btn--primary.mui-btn--flat:hover,
.mui-btn--primary.mui-btn--flat:focus,
.mui-btn--primary.mui-btn--flat:active {
  color: #FF2257;
  background-color: #f2f2f2;
}

.mui-btn--primary.mui-btn--flat[disabled]:hover,
.mui-btn--primary.mui-btn--flat[disabled]:focus,
.mui-btn--primary.mui-btn--flat[disabled]:active {
  color: #FF2257;
  background-color: transparent;
}

.mui-buttons {
  display: inline-block;
  width: 100%;
  margin-bottom: .5em;
  text-align: center;
}
.mui-buttons.right {
  text-align: right;
}
.mui-buttons.left {
  text-align: left;
}

.mui-btn {
  font-size: 100%;
}
.mui-btn.block {
  display: block;
}
.mui-btn.left {
  float: left;
}
.mui-btn.right {
  float: right;
}
.mui-btn.right + .mui-btn.right {
  margin-right: 8px;
}
.mui-btn.small {
  padding: 0 6px;
}

.mui-checkbox {
  font-size: 80%;
}

.mui-textfield {
  margin-bottom: 10px;
}
.mui-textfield label {
  color: #262d38;
}
.mui-textfield input {
  border-bottom: 1px solid #262d38;
}
.mui-textfield textarea {
  border-bottom: 1px solid #262d38;
}
.mui-textfield .mui-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.mui-textfield .message {
  font-size: 80%;
}
.mui-textfield.date-select > .date-icon {
  position: absolute;
  padding: 20px 10px 10px 10px;
  right: 0;
  top: 0;
}

.mui-textfield--float-label label {
  color: #888888;
}

.mui-textfield--float-label > input:focus ~ label,
.mui-textfield--float-label > textarea:focus ~ label {
  font-size: 80%;
  line-height: 150%;
  color: #262d38;
}

.mui-textfield--float-label > input:required ~ label:before {
  content: "*";
  color: #f00;
  margin-right: .5em;
}

.mui-textfield--float-label.error input {
  border-color: #F44336;
  border-width: 2px;
}
.mui-textfield--float-label.error .message {
  color: #F44336;
}
.mui-textfield--float-label > img {
  position: absolute;
  height: 2.5em;
  top: 0;
  right: 0;
}
.mui-textfield--float-label .message {
  font-size: 80%;
}

.mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus).mui--is-not-empty ~ label,
.mui-textfield--float-label > textarea:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
.mui-textfield--float-label > textarea:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label {
  color: #2196F3;
  font-size: 80%;
  line-height: 150%;
}

.mui-textfield > input:disabled, .mui-textfield > input:read-only, .mui-textfield > textarea:disabled, .mui-textfield > textarea:read-only {
  color: #9c9c9c;
  border-bottom: 1px solid #C3C3C3;
}
.mui-textfield > input:disabled ~ label, .mui-textfield > input:read-only ~ label, .mui-textfield > textarea:disabled ~ label, .mui-textfield > textarea:read-only ~ label {
  color: #9c9c9c;
}

.mui-select {
  font-size: 100%;
  color: #262d38;
}
.mui-select select {
  border-bottom: 1px solid #262d38;
  /* 		background: transparent; */
}
.mui-select label {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 80%;
  font-weight: 400;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mui-select .message {
  font-size: 80%;
}

@keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes model-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mui-col-xs32-*, .mui-col-xs48-*, .mui-col-xs64-* {
  float: left;
}

.mui-col-xs32-0, .mui-col-xs48-0, .mui-col-xs64-0 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-0 {
  width: 0%;
}

.mui-col-xs32-offset-0 {
  margin-left: 0%;
}

.mui-col-xs32-1, .mui-col-xs48-1, .mui-col-xs64-1 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-1 {
  width: 8.33333%;
}

.mui-col-xs32-offset-1 {
  margin-left: 8.33333%;
}

.mui-col-xs32-2, .mui-col-xs48-2, .mui-col-xs64-2 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-2 {
  width: 16.66667%;
}

.mui-col-xs32-offset-2 {
  margin-left: 16.66667%;
}

.mui-col-xs32-3, .mui-col-xs48-3, .mui-col-xs64-3 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-3 {
  width: 25%;
}

.mui-col-xs32-offset-3 {
  margin-left: 25%;
}

.mui-col-xs32-4, .mui-col-xs48-4, .mui-col-xs64-4 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-4 {
  width: 33.33333%;
}

.mui-col-xs32-offset-4 {
  margin-left: 33.33333%;
}

.mui-col-xs32-5, .mui-col-xs48-5, .mui-col-xs64-5 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-5 {
  width: 41.66667%;
}

.mui-col-xs32-offset-5 {
  margin-left: 41.66667%;
}

.mui-col-xs32-6, .mui-col-xs48-6, .mui-col-xs64-6 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-6 {
  width: 50%;
}

.mui-col-xs32-offset-6 {
  margin-left: 50%;
}

.mui-col-xs32-7, .mui-col-xs48-7, .mui-col-xs64-7 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-7 {
  width: 58.33333%;
}

.mui-col-xs32-offset-7 {
  margin-left: 58.33333%;
}

.mui-col-xs32-8, .mui-col-xs48-8, .mui-col-xs64-8 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-8 {
  width: 66.66667%;
}

.mui-col-xs32-offset-8 {
  margin-left: 66.66667%;
}

.mui-col-xs32-9, .mui-col-xs48-9, .mui-col-xs64-9 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-9 {
  width: 75%;
}

.mui-col-xs32-offset-9 {
  margin-left: 75%;
}

.mui-col-xs32-10, .mui-col-xs48-10, .mui-col-xs64-10 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-10 {
  width: 83.33333%;
}

.mui-col-xs32-offset-10 {
  margin-left: 83.33333%;
}

.mui-col-xs32-11, .mui-col-xs48-11, .mui-col-xs64-11 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-11 {
  width: 91.66667%;
}

.mui-col-xs32-offset-11 {
  margin-left: 91.66667%;
}

.mui-col-xs32-12, .mui-col-xs48-12, .mui-col-xs64-12 {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

.mui-col-xs32-12 {
  width: 100%;
}

.mui-col-xs32-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 480px) {
  #mui-overlay .mui-overlay-model {
    position: relative;
    top: 10px;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    /* IE 9 */
    -moz-transform: translate(0, 0);
    /* Firefox */
    -webkit-transform: translate(0, 0);
    /* Safari 嚙瞎 Chrome */
    -o-transform: translate(0, 0);
  }

  .mui-col-xs48-0 {
    width: 0%;
  }

  .mui-col-xs48-offset-0 {
    margin-left: 0%;
  }

  .mui-col-xs48-1 {
    width: 8.33333%;
  }

  .mui-col-xs48-offset-1 {
    margin-left: 8.33333%;
  }

  .mui-col-xs48-2 {
    width: 16.66667%;
  }

  .mui-col-xs48-offset-2 {
    margin-left: 16.66667%;
  }

  .mui-col-xs48-3 {
    width: 25%;
  }

  .mui-col-xs48-offset-3 {
    margin-left: 25%;
  }

  .mui-col-xs48-4 {
    width: 33.33333%;
  }

  .mui-col-xs48-offset-4 {
    margin-left: 33.33333%;
  }

  .mui-col-xs48-5 {
    width: 41.66667%;
  }

  .mui-col-xs48-offset-5 {
    margin-left: 41.66667%;
  }

  .mui-col-xs48-6 {
    width: 50%;
  }

  .mui-col-xs48-offset-6 {
    margin-left: 50%;
  }

  .mui-col-xs48-7 {
    width: 58.33333%;
  }

  .mui-col-xs48-offset-7 {
    margin-left: 58.33333%;
  }

  .mui-col-xs48-8 {
    width: 66.66667%;
  }

  .mui-col-xs48-offset-8 {
    margin-left: 66.66667%;
  }

  .mui-col-xs48-9 {
    width: 75%;
  }

  .mui-col-xs48-offset-9 {
    margin-left: 75%;
  }

  .mui-col-xs48-10 {
    width: 83.33333%;
  }

  .mui-col-xs48-offset-10 {
    margin-left: 83.33333%;
  }

  .mui-col-xs48-11 {
    width: 91.66667%;
  }

  .mui-col-xs48-offset-11 {
    margin-left: 91.66667%;
  }

  .mui-col-xs48-12 {
    width: 100%;
  }

  .mui-col-xs48-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 640px) {
  .mui-col-xs64-0 {
    width: 0%;
  }

  .mui-col-xs64-offset-0 {
    margin-left: 0%;
  }

  .mui-col-xs64-1 {
    width: 8.33333%;
  }

  .mui-col-xs64-offset-1 {
    margin-left: 8.33333%;
  }

  .mui-col-xs64-2 {
    width: 16.66667%;
  }

  .mui-col-xs64-offset-2 {
    margin-left: 16.66667%;
  }

  .mui-col-xs64-3 {
    width: 25%;
  }

  .mui-col-xs64-offset-3 {
    margin-left: 25%;
  }

  .mui-col-xs64-4 {
    width: 33.33333%;
  }

  .mui-col-xs64-offset-4 {
    margin-left: 33.33333%;
  }

  .mui-col-xs64-5 {
    width: 41.66667%;
  }

  .mui-col-xs64-offset-5 {
    margin-left: 41.66667%;
  }

  .mui-col-xs64-6 {
    width: 50%;
  }

  .mui-col-xs64-offset-6 {
    margin-left: 50%;
  }

  .mui-col-xs64-7 {
    width: 58.33333%;
  }

  .mui-col-xs64-offset-7 {
    margin-left: 58.33333%;
  }

  .mui-col-xs64-8 {
    width: 66.66667%;
  }

  .mui-col-xs64-offset-8 {
    margin-left: 66.66667%;
  }

  .mui-col-xs64-9 {
    width: 75%;
  }

  .mui-col-xs64-offset-9 {
    margin-left: 75%;
  }

  .mui-col-xs64-10 {
    width: 83.33333%;
  }

  .mui-col-xs64-offset-10 {
    margin-left: 83.33333%;
  }

  .mui-col-xs64-11 {
    width: 91.66667%;
  }

  .mui-col-xs64-offset-11 {
    margin-left: 91.66667%;
  }

  .mui-col-xs64-12 {
    width: 100%;
  }

  .mui-col-xs64-offset-12 {
    margin-left: 100%;
  }
}
.loader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.loader.show {
  display: block;
}
.loader.show .loader-block .loading {
  animation-play-state: inherit;
  -moz-animation-play-state: inherit;
  -webkit-animation-play-state: inherit;
  -o-animation-play-state: inherit;
  -ms-animation-play-state: inherit;
}
.loader .loader-block {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 21;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 嚙瞎 Chrome */
  -o-transform: translate(-50%, -50%);
}
.loader .loader-block .loading {
  height: 12em;
  width: 12em;
  border: .5em solid transparent;
  border-radius: 500%;
  animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -webkit-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  -ms-animation: loading 1s infinite linear;
}
.loader .loader-block .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 120%;
  text-align: center;
  font-weight: 500%;
  letter-spacing: 3px;
  color: #fff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 嚙瞎 Chrome */
  -o-transform: translate(-50%, -50%);
}

.loader-hidden {
  overflow: hidden !important;
}

@keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  0% {
    border-right-color: transparent;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(0deg);
  }
  70% {
    border-right-color: #ff0053;
    transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    /* IE 9 */
    -moz-transform: rotate(300deg);
    /* Firefox */
    -webkit-transform: rotate(300deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(300deg);
  }
  90% {
    border-right-color: transparent;
    transform: rotate(320deg);
    -ms-transform: rotate(320deg);
    /* IE 9 */
    -moz-transform: rotate(320deg);
    /* Firefox */
    -webkit-transform: rotate(320deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(320deg);
  }
  100% {
    border-right-color: transparent;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Safari 嚙瞎 Chrome */
    -o-transform: rotate(360deg);
  }
}
